<template>
<div class="w-full relative">
  <HomeNavNar v-on:filterElementsEvent="onFilterElements">
    <HomeNavBarItem title="Sign up" href="/signup"/>
    <HomeNavBarItem title="Log in" isDeep href="/login"/>
  </HomeNavNar>
  <Marginer mv="100"/>
  <Header margin="20px 0 20px 20px" title="Latests Uploads... " />
  <div class="row">

    <ProductLayout>
      <ProductCover v-on:addElementEvent="onAddItem" v-for="product in products" :productData="product" />
  </ProductLayout>
  <Cart v-if="cartProducts ? true : false" :itemsInCart="cartProducts ? cartProducts : []">
    <CartItem v-on:removeElementEvent="onRemoveItem" v-for="cartProduct in cartProducts" :cartProduct="cartProduct"/>
  </Cart>
    </div>
  <Footer />
</div>
</template>

<script>
// @ is an alias to /src
import HomeNavNar from "@/components/HomeNavBar.vue"
import HomeNavBarItem from "../components/HomeNavBarItem.vue"
import ProductLayout from "../components/ProductLayout.vue"
import Marginer from "../components/Marginer.vue"
import Header from "../components/Header.vue"
import ProductCover from "../components/ProductCover.vue"
import Footer from "../components/Footer.vue"
import { dummyData } from "../dummyDataUtils"
import Cart from "../components/Cart.vue"
import CartItem from "../components/CartItem.vue"

export default {
  name: 'Home',
  components: {
    HomeNavNar,
    HomeNavBarItem,
    ProductLayout,
    Marginer,
    Header,
    ProductCover,
    Footer,
    Cart,
    CartItem
},
  methods:{
    onAddItem(item){
      if (!this.cartProducts) this.cartProducts = [];
      this.cartProducts.push(item);
      console.log("products", this.cartProducts);
    },
    onRemoveItem(itemToBeRemoved){
      this.cartProducts = this.cartProducts.filter(item => item.sku !== itemToBeRemoved.sku)
    },
    onFilterElements(string){
      if(string.length !== 0){
        this.fetchAllProducts().then(res => this.products = res).then(() => this.products = this.products.filter(item => item.description.includes(string)));
      } else {
        this.fetchAllProducts().then(res => this.products = res)
      }
    },
    fetchAllProducts(){
      console.log("fetching products")
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(dummyData)
        }, 1000)
      })
    }
  },
  data(){
    return {
      products: null,
      cartProducts: null
    }
  },
  mounted(){
    //fetching 2nd MS data....
    // fetch("https://user-manage-java-ms.herokuapp.com/products/all", {mode:"no-cors"})
    // .then(res => res.json())
    // .then(data => data ? JSON.parse(data) : {})
    // .then(parsedData => console.log(parsedData))
    // .catch(e => console.error(e)) 
    this.fetchAllProducts().then(res => this.products = res)

  }
}
</script>
<style scoped>
  .row{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
</style>
