<template>
  <div class="containerBox">
    <div class="column">
      <Header margin="20px 0" title="Sign up" />
      <router-link
        to="/"
        class="text-yellow-600 font-bold text-2xl w-32 border-2 link"
        >Go back</router-link
      >
    </div>
    <div class="form">
      <form action="" class="column">
        <label for="username" class="my-2"> Username</label>
        <input
          type="text"
          id="username"
          placeholder="Username"
          required
          v-model="username"
        />
        <label for="email" class="my-2"> Email</label>
        <input
          type="email"
          id="email"
          placeholder="Email"
          required
          v-model="email"
        />
        <label for="password" class="my-2"> Password</label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          required
          v-model="password"
        />
        <label for="confirmPassword" class="my-2"> Confirm password</label>
        <input
          type="password"
          id="confirmPassword"
          placeholder="Confirm password"
          required
          v-model="confirmPassword"
          @input="printData"
        />
        <button
          class="hover:bg-red-400 rounded-md p-2 bg-red-500 text-white font-bold mt-3"
          type="submit"
          @click="register"
        >
          Register
        </button>
      </form>
      <div v-if="errorsInForm.length > 0">
        <Marginer mv="20" />
        <InputFeedbackUtils error :items="errorsInForm" />
      </div>
      <div v-if="errorsFromServer.length > 0">
        <Marginer mv="20" />
        <InputFeedbackUtils error :items="errorsFromServer" />
      </div>
      <div v-if="success">
        <Marginer mv="20" />
        <InputFeedbackUtils informative :message="successMessage" />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import InputFeedbackUtils from "../components/Utils.vue";
import Marginer from "../components/Marginer.vue";
import axios from "axios";
export default {
  name: "SignUp",
  components: { Header, InputFeedbackUtils, Marginer },
  data() {
    return {
      username: "",
      email: "",
      password: "",
      confirmPassword: "",
      riseError: null,
      success: false,
      errorsInForm: [],
      errorsFromServer: [],
      successMessage: {},
    };
  },
  methods: {
    register(e) {
      e.preventDefault();
      this.errorsInForm = [];
      this.errorsInServer = [];
      console.log("clicked");
      let validation = this.validateForm();
      if (validation) {
        console.log("procedo a registrarlo, ilustre");
        axios
          .post("http://localhost:8000/user/", {
            username: this.username,
            email: this.email,
            password: this.password,
          })
          .then((response) => {
            console.log(response);
            this.success = true;
            this.successMessage = typeof response === "object" && {
              content: "User created! Please proceed with log in",
            };
          })
          .catch((err) => {
            console.log("error: ", err);
            this.riseError = true;
            this.errorsFromServer.push({
              error: "An error ocurred, please try again.",
            });
          });
      }
    },
    validateForm() {
      const emailRegex =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      if (this.password !== this.confirmPassword) {
        this.errorsInForm.push({ error: "Passwords don't match." });
      }
      if (!emailRegex.test(this.email)) {
        this.errorsInForm.push({ error: "Invalid email." });
      }
      if (this.errorsInForm.length > 0) return false;
      return true;
    },
    printData() {
      let data = {
        username: this.username,
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword,
        riseError: this.riseError,
        success: this.success,
        errorsInForm: JSON.stringify(this.errorsInForm),
        errorsFromServer: JSON.stringify(this.errorsFromServer),
      };
      console.log(data);
    },
  },
};
</script>

<style scoped>
.containerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.link {
  text-decoration: underline;
  align-self: center;
  text-align: center;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
</style>
