<template>
    <div class="mx-auto layoutBox border-2 my-3">
    <div class="coverBox shadow-lg flex flex-col items-center justify-around rounded-md bg-gray-50">
        <h1 class="text-lg text-center font-bold">{{cartProduct.description}}</h1>
        <div class="mt-2 w-full flex flex-row justify-around items-center">
            <div class="flex flex-col justify-between items-center">
                <h2 class="text-center font-bold text-lg">Price</h2>
                <h2 class="text-center text-base">${{cartProduct.price}}</h2>
            </div>
        </div>
        <button v-on:click="removeElementEvent" class="hover:bg-yellow-200 p-1 rounded-md border-2 shadow-lg border-yellow-300 font-bold mt-2 mb-2">Remove from Cart</button>
    </div>
    </div>
</template>

<script>

    export default {
        name: "ProductLayout",
        props: {
            cartProduct: Object
        },
        methods: {
            removeElementEvent(event){
                this.$emit('removeElementEvent', this.cartProduct)
            }
        }
    }
</script>

<style scoped>
    .container{
        height: 200px;

    }
</style>