<template>
<div class="relative"> 
    <div class="container mx-auto layoutBox border-2">
        <h1 class="text-3xl font-bold mb-5">My cart</h1>
        <div class="flex justify-around items-center h-full flex-col">
            <slot></slot>
        </div>
        <button v-on:click="buy" class="disabled:opacity-50 hover:bg-yellow-200 hover:text-black text-gray-50 bg-yellow-500 p-1 px-10 rounded-md border-2 shadow-lg border-yellow-300 text-2xl font-bold mt-10 mb-2" :disabled="itemsInCart.length === 0 ? true : false">Buy</button>
    </div>
</div>
</template>

<script>

    export default {
        name: "ProductLayout",
        props: {
            itemsInCart: Array
        },
        data() {
            return {
                disableBuyButton:true
            }
        },
        methods: {
            buy(){
                //TODO: API call to BUY
                console.log("Buying... these: ", this.itemsInCart);
            }
        }
    }
</script>

<style scoped>
.container {
    width: 200px;
}
</style>