<template>
<footer>
    <div class="flex flex-row justify-around items-center p-4 bg-yellow-500 text-white w-full mt-4">
        <h3 class="text-xl font-bold"> SS - Sports Store </h3>
        <h3 class="text-xl font-bold">All rights reserved. </h3>
    </div>
</footer>
</template>

<script>
export default {
    name: "Footer",
}
</script>
