<template>
    <h1 class="text-4xl font-bold" :style="style">{{title}}</h1>
</template>

<script>
export default {
    name: "Header",
    props: {
        title: String,
        margin: String 
    },
    computed: {
        style(){
            return `margin: ${this.margin ? this.margin : 0}`
        }
    }
}
</script>