<template>
    <div :class="['hover:bg-gray-200 block rounded-md p-1 mx-1 font-bold', {'hover:bg-yellow-300 border-2 border-yellow-300 bg-yellow-200': isDeep}, {'border-2' : !isDeep}]">
        <router-link class="p-2" :to="href"> {{title}} </router-link>
    </div>
</template>

<script>
export default {
  name: 'HomeNavNarItem',
  props: {
    title: String,
    isDeep: Boolean,
    href: String,
  }
}
</script>