<template>
<div class="relative z-20 ">
  <nav class="fixed w-full">
    <div class="mx-auto w-9/12 mt-4 p-5 rounded shadow-md bg-white bg-opacity-10 backdrop-blur backdrop-filter">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-initial w-200-px">
          <img src="" alt="Logo" class="mr-10">
          <p class="font-bold text-3xl">Sports Store</p> 
        </div>
        <input v-on:keyup.enter="onSearchHandler" v-model="inputSearch" type="text" placeholder="Search..." name="searchBar" class="w-1/2 rounded-md shadow-sm focus:border-yellow-500 focus:ring focus:ring-yellow-500 focus:ring-opacity-50 "/>
        <div class="flex flex-row">
          <slot></slot>
        </div>
      </div>
    </div>
  </nav>
</div>
</template>

<script>
export default {
  name: 'HomeNavNar',
  data(){
    inputSearch:""
  },
  methods: {
    onSearchHandler(){
      console.log(this.inputSearch)
      this.$emit("filterElementsEvent", this.inputSearch)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
