<template>
    <div class="coverBox shadow-lg flex flex-col items-center justify-around rounded-md bg-gray-50">
        <h1 class="text-lg text-center font-bold">{{productData.description}}</h1>
        <div class="border-2 coverPhoto">
            <img v-if="coverUrl" :src="coverUrl" alt="CoverPhoto" />
        </div>
        <div class="mt-2 w-full flex flex-row justify-around items-center">
            <div class="flex flex-col justify-between items-center">
                <h2 class="text-center font-bold text-lg">Price</h2>
                <h2 class="text-center text-base">${{productData.price}}</h2>
            </div>
        </div>
        <button v-on:click="emitToParent" class="hover:bg-yellow-200 p-1 rounded-md border-2 shadow-lg border-yellow-300 font-bold mt-2 mb-2">Add to Cart</button>
    </div>
</template>

<script>
    export default {
        name: "ProductCover",
        props: {
            productData: Object, 
        },
        data(){
            return {
                coverUrl: null,
                productDataFromProps: this.productData
            }
        },
        mounted(){
            const timeout = Math.floor(Math.random()*3000)
            setTimeout(() => {
                fetch("https://source.unsplash.com/random").then(res => this.coverUrl = res.url).catch(e => console.error(e))
            }, timeout)
        },
        methods:{
            emitToParent(event){
                this.$emit('addElementEvent', this.productDataFromProps)
            }
        }
    }
</script>

<style scoped>
.titleWrap{
    overflow-wrap: normal;
    word-wrap: normal;
    hyphens: none;
}
    .coverBox{
        height: 350px;
        width: 220px;
    }
    .coverPhoto{
        height: 50%;
        width: 80%; 
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
</style>