<template>
    <div v-if="error" class="rounded-md p-2 bg-red-300"> 
        <p v-for="item in items" :key="item.error" class="font-bold text-red-700">{{item.error}}</p>
    </div>
    <div v-if="informative" class="rounded-md p-2 bg-green-300">
        <p class="font-bold text-green-700">{{message.content}}</p>
    </div>
</template>

<script>
    export default {
        name: "InputFeedbackUtils",
        props: {
            error: Boolean,
            informative: Boolean,
            alert: Boolean,
            items: Array,
            message: Object
        },
    }
</script>

<style scoped>
</style>